@font-face {
  font-family: OS;
  src: url("./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: OSC;
  src: url("./assets/fonts/OpenSans-CondBold.ttf");
}

/* General CSS boshlandi */

* {
  margin: 0;
  padding: 0;
  font-family: OS, sans-serif;
}

.font__OSC {
  font-family: OSC, sans-serif;
}

.text__dark {
  color: #222;
}

.text__light {
  color: #fff;
}

.text__bold {
  font-weight: bold;
}

.btn__red,
.btn__transparent:hover {
  background: #de2e54;
  border: 2px solid #de2e54;
}

.btn__red,
.btn__transparent {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 150%;
}

.btn__red:hover {
  background: #fff;
  color: #de2e54;
}

.btn__transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

/* General CSS tugadi */

/* Navbar CSS boshlandi */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo p {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem; /* 100% = 1.5rem = 24px   kjgjhgjh  jjgjhgjh*/
  margin-left: 1rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.menu li {
  margin: 0 1rem;
}

.menu a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 150%;
  text-transform: uppercase;
  color: #222;
}

.logo p:hover,
.menu a:hover {
  color: #de2e54;
}

/* Navbar CSS tugadi */

/* Header boshlandi */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem 0 10rem;
  background: #0eb4c1;
}

header h1 {
  font-size: 2.25rem;
  line-height: 120%;
}

header p {
  margin: 1rem 0 2.25rem 0;
  width: 75%;
  font-size: 1.1rem;
  line-height: 150%;
}

/* Header tugadi */

/* Services boshlandi */

.services {
  padding: 7.5rem 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}

.services h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 120%;
  margin-bottom: 1.5rem;
  color: #000;
  font-family: OSC;
}

.service h3 {
  font-size: 1.5rem;
  line-height: 120%;
  color: #222;
  margin-bottom: 1.5rem;
}

.services p {
  line-height: 150%;
  color: #444444;
}

.service .service__image {
  margin-right: 3rem;
}

/* Services tugadi */

/* Contact boshlandi */

.contact {
  padding: 4rem 0;
  background: #0eb4c1;
  padding-bottom: 4rem;
  font-family: OSC, sans-serif;
}

.contact__buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2.5rem;
  justify-content: center;
}

.contact h2 {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 2.5rem;
}

/* Contact tugadi */

/* Footer boshlandi */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10rem;
  background-color: #222;
  color: #fff;
}

footer .menu a {
  color: #fff;
}

footer .menu li:last-child {
  margin-right: 0;
}

/* Footer tugadi */

/* Media queries */

@media screen and (min-width: 1440px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 14px;
  }
  nav,
  footer {
    padding: 1.5rem 6rem;
  }
  header {
    padding: 2rem 6rem 0 6rem;
  }
  .services {
    padding: 7.5rem 6rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
  nav,
  footer {
    padding: 1.5rem 5rem;
  }
  header {
    padding: 3rem 5rem;
    text-align: center;
  }
  header p {
    width: 100%;
  }
  header img,
  nav button {
    display: none;
  }
  .services {
    padding: 5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 14px;
  }
  nav,
  footer {
    padding: 1rem;
  }
  .menu li {
    margin: 0 0.5rem;
  }
  header {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  header p {
    width: 100%;
  }
  header img,
  nav button,
  .logo p {
    display: none;
  }
  .services {
    padding: 2rem;
  }
  .service {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .service .service__image {
    margin: 0;
  }
  .contact {
    padding: 3rem 0;
  }
  .contact__buttons {
    gap: 1.5rem;
  }
}

/* 481 - 767, 768 - 1023, 1024 - 1279, 1440 +  */
